* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #D6EADF;
    font-family: "helvetica";
    color: #424847;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.header {
    height: 70px;
    padding: 20px;
    background-color: #B8E0D2;
}


.header .home {
    width: auto;
    float: left;
}

.header .heading {
    width: 100%;
    font-size: 36px;
}

.heading p {
    text-align: center;
}

.content {
    width: 73%;
    margin: 100px auto;
}

.recipe {
    vertical-align: top;
    margin: 10px;
    width: 300px;
}

.recipe h3, 
.recipe p {
    text-align: center
}